<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="typeset-version" content="@Html.GetAssemblyVersion()" />
    <title>@ViewBag.Title</title>
    @RenderSection("head_html", false)
    @RenderSection("head_styles", false)
    @RenderSection("head_scripts", false)
</head>
<body>
    @RenderSection("body_content_pre", false)
    <section id="content">
        @RenderBody()
    </section>
    @RenderSection("body_content_post", false)
    @RenderSection("body_scripts", false)
</body>
</html>
