@model Typeset.Web.Models.Home.HomeViewModel

<section class="row-fluid">
    <div class="span2">
        @Html.GenerateAbout(Model.About)
    </div>
    <section class="content span8">
        <section class="posts">
            <ul>
            @foreach (var post in Model.Posts.Entities)
            {
                <li class="post">
                    <span class="date">@Html.FormatDate(post.Date)</span>
                    <a href="@post.Permalink"><span class="title">@post.Title</span></a>
                    @Html.GenerateDisqusCommentsCount(post.Permalink)
                </li>
            }
            @if (Model.Posts.Count.Equals(0))
            {
                <li>No results</li>
            }
            </ul>
        </section>
        @Html.GeneratePagination(Model.Posts)
    </section>
</section>
@Html.GenerateDisqusCommentsCountJavaScript(Model.Configuration)