@model Typeset.Web.Models.Home.HomeViewModel
@{ ViewBag.Title = Model.Configuration.SyndicationTitle; }
@section head_html {@foreach (var url in Model.Layout.HeadHtml){@Html.Include(string.Format("~/App_Data/{0}", url))}}
@section head_styles {@Html.BundleAndMinifyCss("head", Model.Layout.HeadStyles)}
@section head_scripts {@Html.BundleAndMinifyJs("head", Model.Layout.HeadScripts)}
@section body_content_pre {@foreach (var url in Model.Layout.BodyHtmlPreContent){@Html.Include(string.Format("~/App_Data/{0}", url))}}
@section body_content_post {@foreach (var url in Model.Layout.BodyHtmlPostContent){@Html.Include(string.Format("~/App_Data/{0}", url))}}
@section body_scripts {@Html.BundleAndMinifyJs("body", Model.Layout.BodyScripts)}
<section class="posts">
    @foreach (var post in Model.Posts.Entities)
    {
        <article class="post">
            <header>
                <h1 class="title"><a href="@post.Permalink">@post.Title</a></h1>
                <time class="pubdate" pubdate="pubdate" datetime="@Html.MarkupDate(post.Date)">@Html.FormatDate(Model.Configuration, post.Date)</time>
            </header>
        </article>
    }
    @if (Model.Posts.Count.Equals(0))
    {
        <p class="no-results">No results</p>
    }
</section>
@Html.GeneratePagination(Model.Posts)